<div>
    <h2 style="text-align:center; margin-top: 0px">Menu</h2>
    <div class="container">
        <nb-card
                #pizzas
                accent="warning"
                *ngFor="let pizza of pizzas; trackBy: identify"
                class="card">
            <nb-card-header>{{pizza.name}}</nb-card-header>
            <nb-card-body style="padding: 0px; margin: 0px;">
            <img src="../assets/pizza.jpg" alt="pizza">
            </nb-card-body>
            <nb-card-footer style="display:flex">
                <span>Cena: {{pizza.price.toLocaleString("pl", {style: "currency", currency: "PLN"})}}</span>
                <span class="flex-expand"></span>
                <button
                    nbTooltip="Dodaj to koszyka"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="warning"
                    outline shape="round"
                    size="tiny"
                    nbButton
                    status="warning"
                    (click)="addProductToCart(pizza)">
                <nb-icon icon="plus-outline"></nb-icon>
                </button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>